@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "atom-dark";

article {
    @apply text-gray-700;

    h1 {
        @apply text-3xl mb-5 text-gray-800 font-thin;
    }
    h2 {
        @apply text-2xl mb-4 mt-4 font-semibold;
    }
    h3 {
        @apply text-xl mb-3 mt-4 font-semibold;
    }
    h4 {
        @apply mb-1 mt-2 font-semibold;
    }
    p {
        @apply mb-4 leading-relaxed;
    }
    a {
        @apply text-blue-500 font-normal;

        &:hover {
            @apply underline;
        }
    }
    ul {
        @apply list-disc ml-4 mb-4;
    }
    ol {
        @apply list-decimal ml-4 mb-4;
    }
    hr {
        @apply border-solid border-t border-gray-300;
    }
    blockquote {
        @apply italic border-l-4 border-gray-600 bg-gray-200 px-3 pt-3 pb-1 mb-2 text-base;
    }

    :not(pre) > code {
        @apply bg-indigo-100 border border-indigo-300 rounded;
        padding: .1rem .2rem;
    }

    pre[class*="language-"] {
        padding: .5em 1em;
    } 

    table {
        @apply w-full text-left rounded border border-gray-200 rounded-lg;

        th {
            @apply bg-gray-200 text-gray-500 font-bold tracking-wider uppercase text-xs;
        }

        th, td {
            @apply p-2
        }

        tr:not(:first-child) {
            @apply border-gray-200 border-t
        }
    }
}