xref: docs-home
---
<div class="mt-20 text-center">
    <h1 class="text-5xl font-bold">StellarAdmin documentation</h1>
</div>
<div class="mt-20">
    <div class="shadow-xl p-10 flex">
        <div class="flex-1">
            <div class="mb-4">
                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-blue-500 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
                    </svg>
                </div>
            </div>
            <h3 class="uppercase font-semibold text-sm">Getting Started</h3>
            <div class="prose">
                <ul>
                    <li><a href="/docs/getting-started/installation">Installation</a></li>
                </ul>
            </div>
        </div>
        <div class="flex-1">
            <div class="mb-4">
                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-green-500 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                    </svg>
                </div>
            </div>
            <h3 class="uppercase font-semibold text-sm">Overview</h3>
            <div class="prose">
                <ul>
                    <li><a href="/docs/concepts/overview/what-is-stellaradmin">What is StellarAdmin?</a></li>
                    <li><a href="/docs/concepts/overview/why-stellaradmin">Why StellarAdmin?</a></li>
                    <li><a href="/docs/concepts/overview/should-you-use">Should you use StellarAdmin?</a></li>
                </ul>
            </div>
        </div>
        <div class="flex-1">
            <div class="mb-4">
                <div class="flex items-center justify-center h-12 w-12 rounded-full bg-yellow-500 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z" />
                    </svg>
                </div>
            </div>
            <h3 class="uppercase font-semibold text-sm">Useful Concepts</h3>
            <div class="prose">
                <ul>
                    <li><a href="/docs/concepts/resources/resources">Resources</a></li>
                    <li><a href="/docs/concepts/resources/datasources">Datasources</a></li>
                    <li><a href="/docs/concepts/resources/fields">Fields</a></li>
                    <li><a href="/docs/concepts/editors/overview">Editors</a></li>
                    <li><a href="/docs/concepts/resources/validation/">Validation</a></li>
                    <li><a href="/docs/concepts/actions/introduction">Custom actions</a></li>
                    <li><a href="/docs/concepts/authorization/overview">Authorization</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>